@import '../../styles/var.scss';
@import '../../styles/templates.scss';
@import '../../styles/reset.scss';

.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 60px 0 30px 0;
}
.more{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 13px;
  font-size: 16px;
  font-weight: 500;
}

