@import '../../styles/var.scss';
@import '../../styles/templates.scss';

section{
    width: $container-width;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.entry{
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__info{
        display: grid;
        grid-template-columns: 8% 92%;
        align-items: center;
        gap: 10px;
        .figure{
            grid-area: 1/1/1/2;
        }
        .title{
            grid-area: 2/2/1/2;
            font-family: $font-secondary-bold;
            font-weight: 700;
            font-size: 50px;
            color: $text-color;
            }
        .text{
            grid-area: 2/2/2/2;
            font-family: $font-primary-regul;
            font-weight: 500;
            font-size: 20px;
            color: $text-color-secondary;
        }
    }
    &__search{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}