@import '../../styles/var.scss';
@import '../../styles/templates.scss';
@import '../../styles/reset.scss';

.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 60px 0;
}

