@import './vars.scss';

@font-face {
    font-family: 'Outfit-Bold';
    src: url('../assets/fonts/Outfit-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Outfit-Regular';
    src: url('../assets/fonts/Outfit-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url('../assets/fonts/Rubik-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('../assets/fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pacifico-Regular';
    src: url('../assets/fonts/Pacifico-Regular.ttf') format('truetype');
}