$primary-bg-color: #D27722;
$primary-bg-color-light: #FFDBB8;
$primary-color-line:#FFDBB8;
$inner-bg-color: #FFFDF4;


$text-color: #252422;
$text-color-white: #ffffff;
$text-color-secondary: #403d39;
$text-color-logo:#D27722;

$font-primary-bold:'Outfit-Bold';
$font-primary-regul:'Outfit-Regular';
$font-secondary-bold: 'Rubik-Bold';
$font-secondary-regul: 'Rubik-Regular';
$font-spans: 'Pacifico-Regular';


