@import '../../styles/var.scss';
@import '../../styles/templates.scss';

section{
    width: $container-width;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    padding: 70px 0;
    

}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border: 1px solid $primary-color-line;
    border-radius: 16px;
    background-color: $inner-bg-color;
}

.wrapper::before,
.wrapper::after {
    content: '';
    position: absolute;
    width: 50vw;
    border-bottom: 2px solid $primary-color-line;
}

.wrapper::before {
    left: 0;
    transform: translateX(-100%);
}

.wrapper::after {
    right: 0;
    transform: translateX(100%);
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 75px;
    margin: 13px auto;
    &__quantity{
        display: flex;
        align-items: center;
        font-family: $font-secondary-bold;
        font-weight: 700;
        font-size: 40px;
        color: $text-color-logo;
    }
    .symbol__star{
        font-size: 30px;
        font-family: $font-secondary-bold;
    }
    &__description{
        font-family: $font-primary-regul;
        font-weight: 400;
        font-size: 20px;
        color: $text-color-secondary;
    }
}

