@import '../../styles/var.scss';
@import '../../styles/templates.scss';


nav{
    max-width: $container-width;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content:space-between;
    padding: 25px 0;
}

.nav{
    display: flex;
    align-items: center;

    &__logo{
        padding-right: 32px;
        margin: 0;
        font-family: $font-secondary-bold;
        font-weight: 700;
        font-size: 32px;
        color: $text-color-logo;
    }

    &__icon{
        padding-right: 32px;
    }

    &__list{
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;

        &_item{
            margin-right: 32px;
            :last-of-type{
                margin-right: 0;
            }
            .link{
                display: flex;
                align-items: center;
                font-family: $font-primary-regul;
                font-weight: 400;
                font-size: 18px;
                color: $text-color;
                text-decoration: none;
                &__icon{
                    margin-right: 10px;
                }
            }
        }
    }

    &__options{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.border{
    border-bottom: 2px solid $primary-color-line;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}