@import '../../styles/var.scss';
@import '../../styles/templates.scss';

header{
    max-width: $container-width;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content:space-between;
    padding: 25px 0;
}